#labelToutBon
{
	-fx-background-color : black ;
}

#tfCase
{
	-fx-display-caret: false;
	-fx-font-weight: bold;
	-fx-border-color : black;
	-fx-font-size: 15px ;
	-fx-alignment: center ; 
}




#tfValidCase
{
	-fx-display-caret: false;
	-fx-font-weight: bold;
	-fx-background-color: #27ae60 ;
	-fx-border-color : black;
	-fx-font-size: 15px ;
	-fx-alignment: center ; 
}

#tfValidCase:focused
{
	-fx-background-color: green ;
}